<!doctype html>
<html>

	<head>
		<title>controller</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		 crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="./assets/style.css" />
		<link rel="stylesheet" type="text/css" href="/usage.css" />
	</head>

	<body>

		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="jumbotron">
						<h1 class="display-4">RIGEL TELESCOPE</h1>
						<p class="lead">Cedar Amateur Astronomers' Rigel telescope is a robotic telescope that can be accessed
							remotely. </p>
					</div>
				</div>
			</div>
		</br>
<div class= "dpadContainer dpad-absolute-container dpad-active"></div>
			<div class="row">


					<div id="dpad-2">

						  <div class="dpad-arrow dpad-arrow-up"></div>
						  <div class="dpad-arrow dpad-arrow-down"></div>
						  <div class="dpad-arrow dpad-arrow-left"></div>
						  <div class="dpad-arrow dpad-arrow-right"></div>
						</div>
						</div>
					 </div>
				</div>




		<script src="./controller.js"></script>
	</body>

</html>